/* AUTHOR: Reuben Tudball
   Start Date: 10/11/2019
   Last Update: 12/15/2019
   Ver: 0.3

	GENERAL STYLES
*/
body {
  background-color: #ffffff;
  border-left: 250px solid #ffffff;
}
footer {
  margin: auto;
  text-align: center;
}
main {
  border-radius: 10px;
  background-color: white; 

}
h1 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 45px;
	text-align: center;
	padding-left:25px;
}
h2{
	font-family: 'Assistant', bold;
}
header{
	    top: 0;
        left: 0;
        width: 250px;
		
        position: fixed;

}
/* 
	NAVIGATION 
*/
nav {
  flex: 100%;
  margin: 0 auto;
  min-width: 250px;
  text-align: center;
}
nav a {
  border-radius:10px;
  background: #fff;
  color: #000;
  display: inline-block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  padding: 5px;
  text-decoration: none
  
}
nav .active,nav a:hover {
	transition-duration:0.4s;
  background: #c2c2c2;
  color: #818181;
}
header ul, header li {
  display: grid;
  list-style-type: none; 
  padding-right:10px;
}
/* MAIN */
main {
  display: flex;
  justify-content: center;
  
}

/*section p:first-child::first-letter{
  color: #5f79ff;
  float: left;
  margin: 0 8px 0 4px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}
*/


.bio {

		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 22px;
		width: 500px;

}

@media (min-width: 1281px) {
	article{
		display: flex;
	}
}


.pics{
	padding-top: 50px;
	padding-left: 100px;

}


aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column1 {
  flex: 45%;
  max-width: 60%;
}

.column1 img {
	position:relative;
   margin-bottom:20px;
   border-radius:10px;
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
  transition-duration:0.3s;
  
}

.column1 img:hover{

	 box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
    transform: scale(1.1);
}


.column2 {
  flex: 45%;
  max-width: 60%;
}

.column2 img {
	margin-bottom:20px;
	border-radius:10px;
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
  transition-duration:0.3s;

}
.column2 img:hover{
	 box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
    transform: scale(1.1);
}
.column3 {
  flex: 45%;
  max-width: 60%;
}

.column3 img {
	margin-bottom:20px;
	border-radius:10px;
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
  transition-duration:0.3s;

}
.column3 img:hover{
	 box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
    transform: scale(1.1);
}
.contact {
	text-decoration: none;
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	
}
.contact img{
	display:inline;
}

.social {
vertical-align: length;
 vertical-align: middle;
 padding: 10px 10px 10px 66px
}
.social img{
	padding-right:5px;
	transition-duration:0.3s

}
.social img:hover{
	filter:brightness(150%);
}
a:link {
    text-decoration: none;
}
span{
	display:inline;
	padding: 0 1rem;
	transition: opacity 0.2s;
	opacity:0.5;
}
span:hover{
	opacity: 1;
}


aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}
